.dialog-display{
    width: 18rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right:auto;
}

.media-demo-video {
    width: 100%
}

.media-demo-audio {
    width: 100%
}