.dialog-edit-button {
    float: right;
}

.dialog-cancel-button {
    float: left;
}

.dialog-edit-submit-button {
    float: left;
}

.dialog-edit-cancel-button {
    float: right;
}

.dialog-edit-delete-button {
    float: right;
}

.dialog-form small {
    float: left;
    margin-left: 1rem;
}

.dialog-form label {
    float: left;
    margin-left: .5rem;
}